<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/estilos/peliculasEstilos.css">
    <title>Películas Online</title>
</head>
<body>
    <div id="contenedor">
        <header>
            <nav>
                <div class="caja_boton_inicio">
                    <button class="boton_inicio">
                        <p>Inicio</p>
                    </button>
                </div>

                <div class="caja_directores_boton">
                    <button class="boton_directores">
                        <p>Directores</p>
                    </button>
                </div>

                <div class="caja_generos_boton">
                    <button class="boton_generos">
                        <p>Géneros</p>
                    </button>
                </div>
            </nav>
        </header>

        <main>

        </main>
        
        <footer>
            <p>
                &copy; 2023   -   Integrantes: Gonzalo Stickar, Luciano Cossia, Facundo Elizalde.
            </p>
        </footer>
    </div>

    <script>
        const botonInicio = document.getElementById("boton_inicio");
        botonInicio.addEventListener("click", function() {
            window.location.href = "/peliculas";
        });


    </script>
</body>
</html>