* {
    padding:0;
    margin: 0;
    font-family:'Franklin Gothic Medium', 'Verdana', Arial, sans-serif;
}

html {
    background: linear-gradient(90deg, rgb(74, 213, 255) 10%, rgb(0, 52, 101) 90%);
}
html {
    background-image:url('../img/fondo.jpg');
    background-repeat:no-repeat;
    background-size:cover;
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;      
}

.articulos {
    display:flex;
    align-items:center;
    justify-content: space-evenly;
    flex-wrap:wrap;
  }
  
  .articulos div {
      position:relative;
      display:flex;
      display:inline-block;
      justify-items: auto;
      margin:20px;
  }
  
  .articulos div p {
      text-align: center;
      color: black;
      background-color: aliceblue;
      bottom:1.25%;
      width: 215px;
      height:25px;
  }

  .articulos h1 {
    color:white;
    font-family: 'Times New Roman', Times, serif;
    position: relative;
    z-index: 1;
    margin-top: 125px;
    font-size: 75px;
    text-shadow: 0.1em 0.1em 0.1em rgba(0, 0, 0, 0.729);
  }

  .nombre_pelicula {
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    background-color: rgba(255, 255, 255, 0.7) !important;
    padding: 5px !important;
    margin: 0 !important;
    font-weight: bold !important;
    /* color:red !important; */
}

h1 {
    color:red;
}